.essay {
  margin-bottom: 40px;
  color: #474d59;
}

.essay-button {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin-bottom: 6px;
}

.essay-normal {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  background: transparent;
  border: 0;
  padding: 0;
  margin-bottom: 6px;
}

.essay-title {
  float: left;
}

.essay-edit-pencil:before {
  display: block;
  content: "";
  margin-left: 14px;
  margin-top: 10px;
  background-image: image-url("pencil_edit_button.png");
  height: 15px;
  width: 15px;
}

.essay-edit-pencil {
  overflow: hidden;
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  bottom: 7px;
  margin-bottom: -18px;
}


.essay-text {
  font-size: 16px;
  display: block;
  margin-top: 14px;
  font-weight: lighter;
}

.edit-text {
  display: block;
  height: 262px;
  width: 500px;
  margin: 20px 10px 0 0;
}

.placeholder-text {
  margin-top: 14px;
  color: #ccd0d9;
}

.edit-text-inside {
  border: 1px solid #ccd0d9;
  border-radius: 5px;
  padding: 20px;
  width: 458px;
  height: 158px;
  background: #fff;
}

.save-button {
  text-align: center;
  font-weight: 400;
  height: 42px;
  width: 120px;
  border: 1px solid #ccd0d9;
  line-height: 44px;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #00d280;
  color: #fff;
  font-size: 16px;
  margin: 0 10px 0 0;

}

.save-button:hover {
  background-color: #00ea8f;
}

.cancel-button {
  text-align: center;
  height: 42px;
  width: 120px;
  border: 1px solid #ccd0d9;
  line-height: 44px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  margin-top: 10px;
}

.cancel-button:hover {
  background-color: #ebedf1;
}
