<!DOCTYPE html>
<html>
<head>
  <title>Free Online Dating | OkDunderMifflin</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200|Open+Sans" rel="stylesheet">
  <script src="https://use.fontawesome.com/37bc4112df.js"></script>
  <script src="https://widget.cloudinary.com/global/all.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
